html {
	overflow-y: scroll;
}


/* Race results table */

.live-results li {
	padding: 0;
}

.live-results h4 {
	margin: 0;
}

.live-results .ui-btn-inner {
	min-height: 22px;
	padding-left: 50px;
}

.live-results .points {
	position: absolute;
	right: 15px;
	top: 44%;
	margin-top: -10px;
	font-size: 20px;
	line-height: 1
	font-weight: bold;
}

.live-results .points span {
	font-size: 16px;
	line-height: 1.25;
	width: 60px;
	display: inline-block;
	text-align: right;
}


/* Alter default border radius */

.ui-btn-corner-all {
	border-radius: 6px;
}

.ui-corner-left {
	border-bottom-left-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
}

.ui-corner-right {
	border-bottom-right-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
}

.ui-select .ui-btn {
	margin-left: 0;
	margin-right: 0;
}


/* Glyphish icons */

.footer-nav .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.footer-nav .ui-btn .ui-icon {
	width: 30px !important;
	height: 30px !important;
	margin-left: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}

#btn-home .ui-icon {
	background:  url(../images/icons/stats.png) 50% 50% no-repeat;
}

#btn-players .ui-icon {
	background:  url(../images/icons/players.png) 50% 50% no-repeat;
}

#btn-tracks .ui-icon {
	background:  url(../images/icons/tracks.png) 50% 50% no-repeat;
}

#btn-events .ui-icon {
	background:  url(../images/icons/events.png) 50% 50% no-repeat;
}


/* Stats table */

table.stats {
	border-collapse: collapse;
}

table.stats tr {
	cursor: default;
}

table.stats th {
	text-align: right;
	vertical-align: bottom;
	padding: 4px 10px;
	font-size: 14px;
	font-weight: normal;
}

table.stats thead tr:first-child th {
	text-align: center;
}

table.stats th.name {
	text-align: left;
	padding-left: 51px;
}

table.stats td {
	padding: 10px;
	border-left: 1px solid #ccc;
	text-align: right;
	font-weight: normal;
}

table.stats .form-event td {
	font-weight: bold;
}

table.stats td.name {
	text-align: left;
}

table.stats td.avatar {
	padding: 0;
	border-left: none;
}

table.stats td.avatar img {
	display: block;
}

table.stats td span {
	font-size: 12px;
	font-weight: bold;
}

table.stats td.delta-u {
	color: #1ba047;
}

table.stats td.delta-d {
	color: #d8242c;
}


/* Player page */

img.avatar {
	float: right;
	-webkit-box-shadow: 0 1px 5px #666;
	border-radius: 4px;
	background: #fff;
	padding: 5px;
}