<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Mario Kart{% endblock %}</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h1>{% block page_title %}{% endblock %}</h1>
		<a href="/new/" data-theme="b" class="ui-btn-right">New event</a>
	</div>
	<div data-role="content">
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	{% block content %}{% endblock %}
	</div>
</div>
</body>
</html>