{% extends "base.html" %}

{% block page_title %}New event{% endblock %}

{% block content %}

<form action="/new/" method="post" rel="external">
{% csrf_token %}
<fieldset data-role="controlgroup">
<legend>Select players</legend>
{% for player in player_list %}
<input type="checkbox" name="players" value="{{ player.pk }}" id="player{{ forloop.counter }}"{% if player in selected_players %} checked="checked"{% endif %}>
<label for="player{{ forloop.counter }}">{{ player.name }}</label>
{% endfor %}
</fieldset>
<input type="submit" value="Start" data-inline="true" data-theme="b">
</form>

{% endblock %}